.diagram-container {
    width: 100%;
    height: 100%;
    flex: 1;
    border: calc(var(--stroke-width) * 1px) solid var(--neutral-stroke-divider-rest);
    background-color: var(--neutral-fill-layer-alt);
}
